
.vs/MyOLRenderer/v16/.suo
.vs/MyOLRenderer/v16/Browse.VC.db
.vs/MyOLRenderer/v16/Browse.VC.db-shm
.vs/MyOLRenderer/v16/Browse.VC.db-wal
.vs/MyOLRenderer/v16/Browse.VC.opendb
.vs/MyOLRenderer/v16/ipch/AutoPCH/2d1ff5f62fdffa44/MYOLRENDERER.ipch
.vs/MyOLRenderer/v16/ipch/AutoPCH/7f48f0f3a026c487/GEOMETRY.ipch
.vs/MyOLRenderer/v16/ipch/AutoPCH/8959a478b1765877/GEOMETRY.ipch
.vs/MyOLRenderer/v16/ipch/AutoPCH/e39b1e1fbada38aa/GEOMETRY.ipch
Debug/MyOLRenderer.exe
Debug/MyOLRenderer.pdb
MyOLRenderer/Debug/geometry.obj
MyOLRenderer/Debug/MyOLRenderer.exe.recipe
MyOLRenderer/Debug/MyOLRenderer.ilk
MyOLRenderer/Debug/MyOLRenderer.log
MyOLRenderer/Debug/MyOLRenderer.obj
MyOLRenderer/Debug/MyOLRenderer.tlog/CL.command.1.tlog
MyOLRenderer/Debug/MyOLRenderer.tlog/CL.read.1.tlog
MyOLRenderer/Debug/MyOLRenderer.tlog/link.read.1.tlog
MyOLRenderer/Debug/MyOLRenderer.tlog/link.write.1.tlog
MyOLRenderer/Debug/MyOLRenderer.tlog/MyOLRenderer.lastbuildstate
MyOLRenderer/Debug/vc142.idb
MyOLRenderer/Debug/vc142.pdb
.vs/MyOLRenderer/v16/ipch/AutoPCH/f3699a770d81a254/MYOLRENDERER.ipch
.vs/MyOLRenderer/v16/ipch/AutoPCH/cd245a30b56d8bae/TRANSFORM.ipch
*.tlog
*.ipch
*.obj
